body {
   
  font-family: Georgia, "Times New Roman";
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color : black;
}





.container
{
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}


.bandeau
{
  color : rgb(255, 255, 255);
  background-color:  #6f42c1;

}

.movie{

  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}